@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(../fonts/TUZyzwprpvBS1izr_vOECuSa.ttf) format('truetype');
}
