i {
	height: 48px;
	width: 48px;
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
	display:inline-block;	
}

/* color filter */
/* color converter https://codepen.io/sosuke/pen/Pjoqqp */
i.blue, i.primary {
	/* color: #0067f4; */
	-webkit-filter: invert(22%) sepia(72%) saturate(3462%) hue-rotate(205deg) brightness(100%) contrast(108%);
	filter: invert(22%) sepia(72%) saturate(3462%) hue-rotate(205deg) brightness(100%) contrast(108%);
}
i.blue-100, i.primary-100 {
	/* color: #99c2fa */
	-webkit-filter: invert(75%) sepia(8%) saturate(2218%) hue-rotate(184deg) brightness(100%) contrast(97%);
	filter: invert(75%) sepia(8%) saturate(2218%) hue-rotate(184deg) brightness(100%) contrast(97%);
}
i.purple {
	/* color: #B175FF; */
	-webkit-filter: invert(52%) sepia(15%) saturate(3671%) hue-rotate(225deg) brightness(101%) contrast(103%);
	filter: invert(52%) sepia(15%) saturate(3671%) hue-rotate(225deg) brightness(101%) contrast(103%);
}
i.navy {
	/* color: #111559; */
	-webkit-filter: invert(12%) sepia(28%) saturate(4897%) hue-rotate(226deg) brightness(94%) contrast(111%);
	filter: invert(12%) sepia(28%) saturate(4897%) hue-rotate(226deg) brightness(94%) contrast(111%);
}
i.white {
	/* color: #FFFFFF; */
	-webkit-filter: invert(1);
	filter: invert(1);
}
i.gray-400 {
	/* color-gray-400: #9e9e9e; */
	-webkit-filter: invert(56%) sepia(94%) saturate(0%) hue-rotate(171deg) brightness(96%) contrast(78%);
	filter: invert(56%) sepia(94%) saturate(0%) hue-rotate(171deg) brightness(96%) contrast(78%);
}
i.yellow {
	/* color: #F7C660;*/
	-webkit-filter: invert(96%) sepia(93%) saturate(7493%) hue-rotate(312deg) brightness(104%) contrast(94%);
	filter: invert(96%) sepia(93%) saturate(7493%) hue-rotate(312deg) brightness(104%) contrast(94%);
}
i.red {
	/* color: #E84855; */
	-webkit-filter: invert(45%) sepia(58%) saturate(1893%) hue-rotate(323deg) brightness(88%) contrast(107%);
	filter: invert(45%) sepia(58%) saturate(1893%) hue-rotate(323deg) brightness(88%) contrast(107%);
}

i.ic-qoom {
	background-image: url(../fonts/qoom.svg);
}
i.ic-arrow-out {
	background-image: url(../fonts/arrow-out.svg);
}
i.ic-settings {
	background-image: url(../fonts/settings.svg);
}
i.ic-user {
	background-image: url(../fonts/user.svg);
}
i.ic-mail {
	background-image: url(../fonts/mail.svg);
}
i.ic-card {
	background-image: url(../fonts/card.svg);
}
i.ic-coding {
	background-image: url(../fonts/coding.svg);
}
i.ic-star {
	background-image: url(../fonts/star.svg);
}
i.ic-trophy {
	background-image: url(../fonts/trophy.svg);
}
i.ic-check-circle {
	background-image: url(../fonts/check-circle.svg);
}
i.ic-check-circle-full {
	background-image: url(../fonts/check-circle-full.svg);
}
i.ic-question-circle {
	background-image: url(../fonts/question-circle.svg);
}
i.ic-alert-circle-full {
	background-image: url(../fonts/alert-circle-full.svg);
}
i.ic-menu {
	background-image: url(../fonts/menu.svg);
}
i.ic-feedback {
	background-image: url(../fonts/feedback.svg);
}
i.ic-group {
	background-image: url(../fonts/group.svg);
}
i.ic-teacher {
	background-image: url(../fonts/teacher.svg);
}
i.ic-school {
	background-image: url(../fonts/school.svg);
}
i.ic-chevron-up {
	background-image: url(../fonts/chevron-up.svg);
}
i.ic-chevron-down {
	background-image: url(../fonts/chevron-down.svg);
}
i.ic-chevron-left {
	background-image: url(../fonts/chevron-left.svg);
}
i.ic-chevron-right {
	background-image: url(../fonts/chevron-right.svg);
}
i.ic-spinner {
	background-image: url(../fonts/spinner.svg);
}
i.ic-folder {
	background-image: url(../fonts/folder.svg);
}
i.ic-file {
	background-image: url(../fonts/file.svg);
}
i.ic-file-html {
	background-image: url(../fonts/html.svg);
}
i.ic-file-css {
	background-image: url(../fonts/css.svg);
}
i.ic-file-js {
	background-image: url(../fonts/javascript.svg);
}
i.ic-file-py {
	background-image: url(../fonts/python.svg);
}
i.ic-back {
	background-image: url(../fonts/back.svg);
}
i.ic-email-sent {
	background-image: url(../fonts/email-sent.svg);
}
i.ic-error {
	background-image: url(../fonts/error.svg);
}
i.ic-ghost {
	background-image: url(../fonts/ghost.svg);
}
i.ic-maintenance {
	background-image: url(../fonts/maintenance.svg);
}
i.ic-search {
	background-image: url(../fonts/search.svg);
}
i.ic-add-circle {
	background-image: url(../fonts/add-circle.svg);
}
i.ic-cancel {
	background-image: url(../fonts/cancel.svg);
}
i.ic-lock {
	background-image: url(../fonts/lock.svg);
}
i.ic-camera {
	background-image: url(../fonts/camera.svg);
}
i.ic-add {
	background-image: url(../fonts/add.svg);
}
i.ic-play {
	background-image: url(../fonts/play.svg);
}
i.ic-home {
	background-image: url(../fonts/home.svg);
}
i.ic-overflow {
	background-image: url(../fonts/overflow.svg);
}
i.ic-overflow-v {
	background-image: url(../fonts/overflow-v.svg);
}
i.ic-new-file {
	background-image: url(../fonts/new-file.svg);
}
i.ic-new-folder {
	background-image: url(../fonts/new-folder.svg);
}
i.ic-upload-file {
	background-image: url(../fonts/upload-file.svg);
}
i.ic-rollback {
	background-image: url(../fonts/rollback.svg);
}
i.ic-merge {
	background-image: url(../fonts/merge.svg);
}
i.ic-preview-new {
	background-image: url(../fonts/preview-new.svg);
}
i.ic-preview-right {
	background-image: url(../fonts/preview-right.svg);
}
i.ic-preview-left {
	background-image: url(../fonts/preview-left.svg);
}
i.ic-preview-bottom {
	background-image: url(../fonts/preview-bottom.svg);
}
i.ic-github {
	background-image: url(../fonts/github.svg);
}
i.ic-discord {
	background-image: url(../fonts/discord.svg);
}
i.ic-download {
	background-image: url(../fonts/download.svg);
}
i.ic-transfer {
	background-image: url(../fonts/transfer.svg);
}
i.ic-cloud-qoom {
	background-image: url(../fonts/qoom-cloud.svg);
}
i.ic-open-in-new {
	background-image: url(../fonts/open-in-new.svg);
}
i.ic-publishable-false{
	background-image: url(../fonts/publish.svg);
}
i.ic-publishable-true{
	background-image: url(../fonts/share-post.svg);
}
i.ic-update{
	background-image: url(../fonts/update.svg);
}

/* images */
i.img-search {
	background-image: url(../fonts/search-image.svg);
}
i.img-no-result {
	background-image: url(../fonts/no-result-image.svg);
}
i.img-maintenance {
	background-image: url(../fonts/maintenance.svg);
}
i.img-email-sent {
	background-image: url(../fonts/email-sent.svg);
}
i.img-updating {
	background-image: url(../fonts/updating-image.svg);
}
i.img-congrats {
	background-image: url(../fonts/congrats-image.svg);
}